@import 'bootstrap/dist/css/bootstrap.min.css';

#sidebar-wrapper,
.list-group-item {
  color: #fff;
  background-color: #424242;
  border: none;
}

.dropdown-menu {
  width: 100%;
  border-radius: 0;
}

.register-new {
  margin: 25px 0;
}

.register-new a {
  text-decoration: none;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
